@keyframes jump{
    0%  {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
      }
    50% {
        -webkit-transform: translateY(7px);
        transform: translateY(40px);
    }
    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
      }
}

    
.letterA { 
   animation: jump 0.3s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both; 
}

.letterB { 
    animation: jump 0.56s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both; 
}

.letterC { 
    animation: jump 0.97s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both; 
}